<section class="recipe-details">
    <div class="container">
        <div class="row">
            <h3 class="recipe-heading">{{recipe.title}}</h3>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="recipe-image" src="{{recipe.imageURL}}">
            </div>
            <div class="col-6">
                <div class="row">
                    <p class="recipe-description">{{recipe.description}}</p>
                </div>
                <div class="row">
                    <div class="ingredient-heading">
                        <h5>Ingredients<i class="fa fa-pencil icon" aria-hidden="true" [hidden]="editable"
                                (click)="editable = !editable"></i><i class="fa fa-times icon" aria-hidden="true"
                                [hidden]="!editable" (click)="editable = !editable"></i></h5>

                    </div>
                    <div class="add-ingredient">
                        <button class="btn btn-success add-button" [hidden]="addNew"
                            (click)="addNew = !addNew">Add</button>
                        <form [formGroup]="ingredientForm">
                            <button class="btn btn-danger close-button" (click)="revert()" [hidden]="!addNew"
                                (click)="addNew = !addNew">Close</button>
                            <button class="btn btn-success save-button" (click)="addIngredient()" [hidden]="!addNew"
                                (click)="addNew = !addNew">Save</button>
                            <input type="text" formControlName="ingredient" class="form-control new-item-input"
                                *ngIf="addNew">
                        </form>
                    </div>
                    <div class="ingredient-list">
                        <p class="ingredient-list-empty" *ngIf="!recipe.ingredients.length">No ingredient(s) listed</p>
                        <div class="ingredient-item" *ngFor="let item of recipe.ingredients;let i = index">
                            <p>{{item}}
                                <i class="fa fa-trash icon" *ngIf="editable" (click)="deleteIngredient(i)" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
