<section class="shopping-list">
    <div class="container">
        <div class="row">
            <div class="shopping-heading">
                <h2>Shopping list.</h2>
            </div>
        </div>
        <div class="row">
            <div class="product-addition">
                <form [formGroup]="shoppingForm">
                    <div class="form-group">
                        <label for="nameField">Name <span class="required-field">*</span></label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
                        <small class="error-msg"
                            *ngIf="(shoppingForm?.controls.name.dirty || shoppingForm?.controls.name.touched) && shoppingForm?.controls.name.invalid && shoppingForm?.controls.name.errors.required">
                            Name is a required field.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="amountField">Amount <span class="required-field">*</span></label>
                        <input type="number" class="form-control" formControlName="amount" placeholder="Enter amount">
                        <small class="error-msg"
                            *ngIf="(shoppingForm?.controls.amount.dirty || shoppingForm?.controls.amount.touched) && shoppingForm?.controls.amount.invalid && shoppingForm?.controls.amount.errors.required">
                            Amount is a required field.
                        </small>
                    </div>
                    <button type="submit" (click)="addProduct()" [disabled]="!shoppingForm.valid"
                        class="btn btn-success add-button">Add</button>
                    <button class="btn btn-primary clear-button" (click)="revert()">Clear</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="cart-section">
    <div class="container">
        <div class="row">
            <div class="cart-heading">
                <h2>Cart<i class="fa fa-pencil icon" aria-hidden="true" [hidden]="editable"
                        (click)="editable = !editable"></i><i class="fa fa-times icon" aria-hidden="true"
                        [hidden]="!editable" (click)="editable = !editable"></i></h2>
            </div>
        </div>
        <div class="row">
            <div class="cart-listing">
                <p class="cart-empty" *ngIf="!cartItems.length">No Items in Cart</p>
                <div class="cart-item" *ngFor="let item of cartItems;let i = index">
                    <p>{{item.name}} ({{item.amount}}) <i class="fa fa-trash icon" *ngIf="editable"
                            (click)="deleteItem(i)" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
    </div>
</section>